h1 {
  color: black;
  font-size: 40px;
}

li a:hover {
  background-color: lightblue;
}
ul {
  overflow: hidden;
  background-color: burlywood;
}
li {
  list-style: none;
  float: left;
}
li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#topbar {
  background-color: rgb(184, 204, 170);
  padding: 20px;
}
html {
  scroll-behavior: smooth;
}
